<form
  hx-target="this"
  hx-swap="outerHTML"
  method="post"
  class="space-y-2"
  enctype="multipart/form-data"
  id="car_form"
  novalidate
  hx-post="{% url 'get-form-car-update' owner_pk car_pk  %}"
>
  {% csrf_token %}
  <div class="flex">
    <span class="mt-2 mr-2">Make:</span>
    <input
      type="text"
      id="make"
      name="make"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
      value="{{form.make.value}}"
      required
    />
  </div>
  <div class="flex">
    <span class="mt-2 mr-2">Model:</span>
    <input
      type="text"
      id="model"
      name="model"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
      value="{{form.model.value}}"
      required
    />
  </div>
  <div class="flex">
    <span class="mt-2 mr-2">License Plate:</span>
    <input
      type="text"
      id="license_plate"
      name="license_plate"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
      value="{{form.license_plate.value}}"
      required
    />
  </div>
  <div class="flex">
    <span class="mt-2 mr-2">Color:</span>
    <input
      type="text"
      id="color"
      name="color"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
      value="{{form.color.value}}"
      required
    />
  </div>
  <div>
    <p>Car Image:</p>
    <input type="file" name="photo" accept="image/*" id="id_photo" />
  </div>

  <div>
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >
      Save
    </button>
    <button
      onClick="window.location.reload()"
      type="button"
      class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
    >
      Cancel
    </button>
  </div>
</form>
