<button
  :class="{'cursor-not-allowed opacity-50': status==='out'}"
  type="button"
  hx-swap="outerHTML"
  hx-get="{% url 'update-status' 'out' car.pk %}"
  :disabled="status=='out'"
  class="w-1/2 focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-base px-10 py-5 me-2 mb-2"
>
  Out
</button>

<div
  class="inline-flex items-center text-base font-semibold text-gray-900"
  id="status-badge"
  hx-swap-oob="true"
>
  {% if car.vehicle_status|title == 'Out' %}
  <span
    class="bg-red-300 text-red-800 text-base font-medium me-2 px-4 py-2 rounded-full"
    >{{car.vehicle_status|title}}</span
  >
  {% else %}<span
    class="bg-green-300 text-green-800 text-base font-medium me-2 px-4 py-2 rounded-full"
    >{{car.vehicle_status|title}}</span
  >
  {% endif %}
</div>
