<section class="w-full px-8 py-16 bg-gray-100 xl:px-8 h-screen">
  <div class="max-w-5xl mx-auto my-auto mt-24">
    <div class="flex flex-col items-center md:flex-row justify-center">
      <div class="w-full mt-16 md:mt-0 md:w-2/5">
        <div
          class="relative z-10 h-auto p-8 py-10 overflow-hidden bg-white border-b-2 border-gray-300 rounded-lg shadow-2xl px-7"
          data-rounded="rounded-lg"
          data-rounded-max="rounded-full"
        >
          <h3 class="mb-6 text-2xl font-medium text-center font-medium leading-6 text-gray-600">
            Establishment staff login
          </h3>
          {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                <p class="font-medium leading-6 text-gray-600 mb-10 ml-4">Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
                {% else %}
                <p class="font-medium leading-6 text-gray-600 mb-10 ml-4">Please login to see this page.</p>
                {% endif %}
            {% endif %}
          <form action="{% url 'login' %}", method="post">
          {% csrf_token %}
          <input
            type="text"
            name="username"
            id="username"
            class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none"
            data-rounded="rounded-lg"
            data-primary="blue-500"
            placeholder="Username"
          />
          <input
            type="password"
            name="password"
            id="password"
            class="block w-full px-4 py-3 mb-4 border border-2 border-transparent border-gray-200 rounded-lg focus:ring focus:ring-blue-500 focus:outline-none"
            data-rounded="rounded-lg"
            data-primary="blue-500"
            placeholder="Password"
          />
          <div class="block">
            <button
              class="w-full px-3 py-4 font-medium text-white bg-blue-600 rounded-lg"
              data-primary="blue-600"
              data-rounded="rounded-lg"
            >
              Log In
            </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
